/* ============================================================================================================== */
/* When key starts with nothing special, it refers to the actual html tag, e.g., "body" or "ul"                   */
/* When key starts with "#", it refers to an id, e.g., "#container" refers to the element whose id is "container" */
/* When key starts with ".", it refers to a class. ".primaryletter" affects elements with class "primaryletter"   */
/* ============================================================================================================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    /*background-color: #114B5F;*/
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
}
div[id^='sidebar-'], #gameplay {
    position: absolute;
    overflow:auto;
    transition: width .35s;
}
#sidebar-left {
    background: #114B5F;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}
#gameplay {
    /*border: 10px solid #ff0000;*/
    background:gray;
    left: 20%;
    top: 0;
    bottom: 0;
    width: 60%;
}
#sidebar-right {
    background: #114B5F;
    left: 80%;
    top: 0;
    bottom: 0;
    width: 20%;
}
#container {
    /* This is the dimension of the grid... let us call it D */
    width: 500px;
    height: 500px;
    background: #E4FDE1;
    margin: 10px auto;
}
.primaryletter {font-family: 'Audiowide'; font-size: 1rem; color: #E4FDE1;}
.secondaryscore {font-family: 'Audiowide'; font-size: 0.1rem; color:  #d4ac0d;}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
}
ul li {
    /* This % value is slightly less than 1/15, making exactly 15 cells fit width-wise.
     * The fact that we need some space between cells to make them look good is why
     * the actual value of the percentage is less than 6.6667% (1/15 = 6.6667%) */ 
    width: 6.33%;
    /* This height is slightly less than D / 15 (where D is... see note above in
     * #container section. The lines between the cells take up some space, hence... */
    height: 32.25px;
    margin-top: 1px;
}
h1 {
    color: #E4FDE1;
    font-family: 'Sofia';
    text-align: center;
    font-size: 3em;
}
h4 {
    color: #E4FDE1;
    font-family: 'Goldman';
    text-align: center;
    font-size: 2em;
}
fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}

legend {
    padding: 2px;
    font-family: 'Goldman';
    text-align: center;
    font-size: 1.4em;
    color: #DAA520;
}
